# create a file called cypress.env.json with these settings.
# Remember to fill in your authCredentials

{
  "USER_EMAIL": ,
  "USER_PASSWORD": ,
  "TWO_FACTOR_AUTH_KEY": ,
  "RP": ,
  "BASIC_AUTH_USERNAME": ,
  "BASIC_AUTH_PASSWORD":
}
